@use 'variables' as *;

.ContentBox2{
    
    &-title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    &-detailRdv {
        height: 100%;
        padding: 0 0 20px 0;
        
        &-prestataire {
            background-color: $cardJour;
            width: 95%;
            margin: 0 0 10px 10px;
            text-align: center;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            font-size: 14px;
            color: $fontColor;
            border-bottom: 1px solid $fontSecond;
            border-radius: 15px;
            &-spe{
                font-size: 10px;
                color: $fontSecond;
            }
        }
        &-title{
            font-weight: bold;
            padding-left: 20px;
        }
        &-card{
            display: flex;
            align-items: center;
            border-bottom: 1px solid $fontSecond;
            width: 95%;          
            margin: 0 0 10px 10px;
            border-radius: 15px;
            &.fond1 {
                background-color: $cardJour;
            }
            &.fond2 {
                background-color: $cardAutre;
            }
            &.fond3 {
                background-color: $cardAttente;
            }
            &-left{
                display: flex;
                align-items: center;
                img{
                    width: 25px;
                }
                i{
                    width: 25px;
                }
            }
            &-right{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 10px;
                width: 60%;
                text-align: right;
                margin-left: auto;
            }
        } 
        &-btn{
            display: flex;
            justify-content: center;
            // margin: 0 auto;
            width: 95%;
            gap: 20px;
            margin-top: 20px;
            border: black 1px solid;
            border-radius: 15px;
            padding: 10px 0 10px 0;
            &:hover {
                background-color: $fontSecond;
                color: white;
            }
                &.btn2 {
                    background-color: black;
                    border-radius: 15px;
                    color: white;
                    &:hover {
                        background-color: grey;
                    }
                }
           
        }
        &-input{
            width: 95%;
            padding: 10px;
            // margin: 0 0 10px 10px;
            // border: 1px solid $fontSecond;
            border-radius: 5px;
        }    
    }
    @media screen and (min-width: 800px) {
        &-detailRdv {
            display: grid;
            grid-template-columns: 1fr 1fr;
            // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            &-prestataire {
                grid-column: 1 / -1;
                justify-content: space-around;
                width: auto;
                margin-right: 10px;
            }
            &-title{
                grid-column: 1 / 3;
                grid-row: -1 / 1;
            }
            &-card{
                flex-direction: row;
                align-items: flex-start;
            }
            &-input{
                grid-column: -4 / -3;
                grid-row: 6 / 7;
            }
        }
        
    }

}