@use 'variables' as *;

body {
    background-color: $backGroundColor;
    font-family: $fontGeneral;
    color: $fontColor;
    margin: 50px;
    padding: 50px;

    
}
.Container {
   min-width: 300px;
    margin: auto;
    @media screen and (min-width: 800px) {
        width: 90%;
    }
}