<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <title>Mes contacts</title>
</head>

<div th:insert="~{header :: header}"></div>

<div class="container mt-5">

    <div class="card p-4 mb-4">
        <h3 class="mb-3">Mes contacts</h3>

        <table>
            <thead>
            <tr>
                <th>Email</th>
                <th>Prenom</th>
                <th>Nom</th>


            </tr>
            </thead>

            <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.user2.email}"></td>
                <td th:text="${contact.user2.firstName}"></td>
                <td th:text="${contact.user2.lastName}"></td>


            </tr>
            </tbody>
        </table>

        <div th:if="${#lists.isEmpty(contacts)}" class="text-center mt-4">
            <p>Aucun contact pour le moment</p>
        </div>

    </div>

</div>

<div th:insert="~{footer :: footer}"></div>