<div class="card-group" th:fragment="footer">
    <div class="card-body">
        <img src="/images/logo.png" class="card-img-top p-4" alt="logo" height="150">
    </div>
    <div class="card-body">
        <p class="gras"><a href="/paycard" class="nav-link">Cash transfer</a></p>
        <p><a href="account/iban" class="nav-link"><small class="text-body-secondary">FAQ</small></a></p>
        <p><a href="#" class="nav-link"><small class="text-body-secondary">Why using Flash Cash ?</small></a></p>
    </div>
    <div class="card-body">
        <p class="gras"><a href="#" class="nav-link">Need help ?</a></p>
        <p><a href="#" class="nav-link"><small class="text-body-secondary">Live chatFAQ</small></a></p>
        <p><a href="#" class="nav-link"><small class="text-body-secondary">Contact us</small></a></p>
    </div>
    <div class="card-body">
        <p class="gras"><a href="#" class="nav-link">About</a></p>
        <p><a href="#" class="nav-link">Team</a></p>
        <p><a href="#" class="nav-link">Locations</a></p>
    </div>
</div>

</body>
</html>