<footer class="FooterBox">
    <nav    class="NavAdd">
        <div class="NavAdd-nav">
            <a class="NavAdd-nav-link" href=""><img th:src="@{/images/qrcode.png}" alt="qrcode"><span class="NavAdd-nav-link-text">Aide pour rdv</span></a>
            <a class="NavAdd-nav-link" href="/prestataires/add"><img th:src="@{/images/doctor-add.png}" alt=""><span class="NavAdd-nav-link-text">Nouveau prestataire</span></a>
            <a class="NavAdd-nav-link" href="/rdv/add"><img th:src="@{/images/calendar-add.png}" alt=""><span class="NavAdd-nav-link-text">Nouveau rdv</span></a>
        </div>
    </nav>
    <nav class="NavFooter">
        <a class="NavFooter-link" href="">Contact</a>
        <a class="NavFooter-link" href="">Cgu</a>
        <a class="NavFooter-link" href="">Rgpd</a>
</footer>
</div>
</body>
<script src="https://kit.fontawesome.com/0aa6008ea0.js" crossorigin="anonymous"></script>
<script src="js/main.js"></script>

</html>