<body>
<div class="Container">
    <header class="HeaderBox">
        <img class="HeaderBox-logo" src="images/logo.png" alt="Logo Rappel Facile">
        <h1 class="HeaderBox-title">Rappel Facile</h1>
        <div class="NavBox">
            <i class="fa-solid fa-bars NavBox-burger"></i>
            <i class="fa-solid fa-close NavBox-close"></i>
            <div class="NavBox-toggleMenu">

                <nav class="NavBox-menuPrincipal">
                    <a  class="NavBox-menuPrincipal-link" href="">Vos rendez-vous</a>
                    <a href=""  class="NavBox-menuPrincipal-link">Vos prestataires</a>
                    <a href=""  class="NavBox-menuPrincipal-link">Vos statistiques</a>
                </nav>
                <div class="NavBox-user">
                    <img class="NavBox-user-avatar" src="images/avatar.jpg" alt="Avatar utilisateur">
                    <p>Jessica</p>
                    <li class="nav-item" th:if="${currentUser != null}">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn btn-link nav-link" value="Sign out">
                        </form>
                    </li>
                </div>
                <nav class="NavBox-menuSecondaire">
                    <a class="NavBox-menuSecondaire-link" href="">Contact</a>
                    <a class="NavBox-menuSecondaire-link" href="">Cgu</a>
                    <a class="NavBox-menuSecondaire-link" href="">Rgpd</a>
                </nav>
            </div>
        </div>
    </header>