<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Rappel Facile</title>
</head>
<div th:insert="~{header :: header}"></div>

<main class="ContentBox">
    <h2 class="ContentBox-title">Vos rendez-vous</h2>
    <div class="ContentBox-rdvBox">
        <div class="ContentBox-rdvBox">
            <section class="ContentBox-rdvBox RdvBox jour">

                <h2 class="RdvBox-title">Rendez-vous du jour</h2>

                <div th:each="rdv : ${rdvs}"
                     th:if="${rdv.siOk == 1}"
                     class="RdvBox-card">

                    <a th:href="@{'/rdv/' + ${rdv.idRdv}}"
                       class="RdvBox-card-link">

                        <i class="fa-regular fa-alarm-clock RdvBox-card-clock"></i>
                    </a>

                    <p class="RdvBox-card-text">

            <span class="RdvBox-card-text-time"
                  th:text="${rdv.dateRdv}">
                10:00
            </span>

                        <br>

                        <span class="RdvBox-card-text-motif"
                              th:text="${rdv.profession.nom}">
                Motif
            </span>
                    </p>

                    <p class="RdvBox-card-prestataire"
                       th:text="${rdv.prestataire.nom + ' ' + rdv.prestataire.prenom}">
                        Prestataire
                    </p>

                </div>

            </section>
            <section class="ContentBox-rdvBox RdvBox attente">
                <h2 class="RdvBox-title">En attente de validation</h2>
                <div class="RdvBox-card">
                    <i class="fa-regular fa-calendar RdvBox-card-clock"></i>
                    <p class="RdvBox-card-text"><span class="RdvBox-card-text-time"><span class="RdvBox-card-text-time">15 octobre 2023 à 10:00</span><br><span class="RdvBox-card-text-motif">Prescription médicale</span>
                    </p>
                    <p class="RdvBox-card-prestataire"><i class="fa-regular fa-square-check"></i> <i class="fa-solid fa-ban"></i>                 </p>

                </div>


            </section>
        </div>
        <section class="ContentBox-rdvBox RdvBox autre">
            <h2 class="RdvBox-title">Autres RDV</h2>
            <div class="RdvBox-card">
                <i class="fa-regular fa-calendar RdvBox-card-clock"></i>
                <p class="RdvBox-card-text"><span class="RdvBox-card-text-time"><span class="RdvBox-card-text-time">15 octobre 2023 à 10:00</span><br><span class="RdvBox-card-text-motif">Prescription médicale</span>
                </p>
                <p class="RdvBox-card-prestataire">Modifier Details</p>

            </div>
            <div class="RdvBox-card">
                <i class="fa-regular fa-calendar RdvBox-card-clock"></i>
                <p class="RdvBox-card-text"><span class="RdvBox-card-text-time"><span class="RdvBox-card-text-time">15 octobre 2023 à 10:00</span><br><span class="RdvBox-card-text-motif">Prescription médicale</span>
                </p>
                <p class="RdvBox-card-prestataire">Modifier Details</p>

            </div>
            <div class="RdvBox-card">
                <i class="fa-regular fa-calendar RdvBox-card-clock"></i>
                <p class="RdvBox-card-text"><span class="RdvBox-card-text-time"><span class="RdvBox-card-text-time">15 octobre 2023 à 10:00</span><br><span class="RdvBox-card-text-motif">Prescription médicale</span>
                </p>
                <p class="RdvBox-card-prestataire">Modifier Details</p>

            </div>
            <div class="RdvBox-card">
                <i class="fa-regular fa-calendar RdvBox-card-clock"></i>
                <p class="RdvBox-card-text"><span class="RdvBox-card-text-time"><span class="RdvBox-card-text-time">15 octobre 2023 à 10:00</span><br><span class="RdvBox-card-text-motif">Prescription médicale</span>
                </p>
                <p class="RdvBox-card-prestataire">Modifier Details</p>

            </div>
            <div class="RdvBox-card">
                <i class="fa-regular fa-calendar RdvBox-card-clock"></i>
                <p class="RdvBox-card-text"><span class="RdvBox-card-text-time"><span class="RdvBox-card-text-time">15 octobre 2023 à 10:00</span><br><span class="RdvBox-card-text-motif">Prescription médicale</span>
                </p>
                <p class="RdvBox-card-prestataire">Modifier Details</p>

            </div>
            <div class="RdvBox-card">
                <i class="fa-regular fa-calendar RdvBox-card-clock"></i>
                <p class="RdvBox-card-text"><span class="RdvBox-card-text-time"><span class="RdvBox-card-text-time">15 octobre 2023 à 10:00</span><br><span class="RdvBox-card-text-motif">Prescription médicale</span>
                </p>
                <p class="RdvBox-card-prestataire">Modifier Details</p>

            </div>


        </section>

    </div>
</main>

<div th:insert="~{footer :: footer}"></div>
