<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <title>Transfer to your bank</title>
</head>
<div th:insert="~{header :: header}"></div>

<div class="container mt-5">

    <div class="card p-4 mb-4">

        <h4>Welcome</h4>

        <p>
            <span th:text="${currentUser.email}"></span>
        </p>

        <h2 class="text-success">
            <span th:text="${currentUser.account.amount}"></span> €
        </h2>

    </div>

    <div class="row g-4">

        <div class="col-md-4">

            <div class="card text-center p-3">

                <h5>Add cash</h5>

                <p>Add money instantly</p>

                <a href="/paycard"
                   class="btn btn-outline-primary">
                    Start
                </a>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card text-center p-3">

                <h5>Transfer to bank</h5>

                <p>Withdraw money</p>

                <a href="/banktransfer"
                   class="btn btn-outline-primary">
                    Start
                </a>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card text-center p-3">

                <h5>Add IBAN</h5>

                <p>Add your bank account</p>

                <a href="/account/iban"
                   class="btn btn-outline-primary">
                    Start
                </a>

            </div>

        </div>

    </div>

</div>

<div th:insert="~{footer :: footer}"></div>